.cart-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .cart-list {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: right;
  }
  
  .clear-cart-button , .close-cart-button{
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
    width: 30%;
    text-align: center;
  }
  